<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title><%= title %></title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width">
		<link rel="stylesheet" href="/output/app.css">
	</head>
	<body>

		<%- include components/header.ejs %>
		<%- include components/breadcrumb.ejs %>

		<section class="view">
			<%- body %>
		</section>

		<%- include components/footer.ejs %>

		<script src="/output/app.js"></script>

	</body>
</html>
